<h1>List of Games</h1>
<div>{{#link-to 'games.new'}}Add a new game{{/link-to}}</div>

{{outlet}}

<div class="all-games">
  <ul>
    {{#each game in model}}
      <li>{{#link-to 'game' game.id}}{{game.title}}{{/link-to}} - {{game.platform}}</li>
    {{/each}}
  </ul>
</div>
